[defaults]
inventory = hosts
roles_path = roles
log_path = ansible.log
remote_user = root
timeout = 10
nocows = 1

# Zeitstempel und uid/host-Variablen fuehren leider zu unnoetigen Aenderungen ohne Relevanz
# siehe https://github.com/ansible/ansible/issues/5317
ansible_managed = ACHTUNG: verwaltet via ansible - siehe https://wiki.opennet-initiative.de/wiki/Server_Installation/Ansible


[ssh_connection]
# schnellere Ausfuehrung
# sudo-Besonderheit: erfordert Abschaltung von "requiretty" in /etc/sudoers
pipelining = 1
